@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --manila: #fdebb4;
  --brown-text: #76561f;
  --burnt-red: #e75613;
  --dark-gray: #2e2e2e;
}

html {
  background-color: var(--manila);
  color: var(--brown-text);
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}
#___gatsby {
  min-height: 100vh;
}
#gatsby-focus-wrapper {
  min-height: 100vh;
}

#tools {
  margin-top: 3rem;
}

#address {
  grid-column-start: 4;
  grid-column-end: 10;
}

#aboutcontact {
  grid-column-start: 4;
  grid-column-end: 10;
}

.wrap {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

a:hover {
  color: var(--burnt-red);
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
  margin-top: 0;
  padding-top: 4rem;
}

footer {
  bottom: 0;
  grid-row-start: 3;
  grid-row-end: -1;
  margin: 0;
  flex-grow: 2;
  padding: 1rem;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  background-color: var(--dark-gray);
  color: var(--manila);
}

.grid-list {
  grid-column: 1/ -1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 0rem;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.gl-icon {
  justify-self: center;
  object-position: center;
  border: 1px black;
  grid-column: 2/ 12;
  max-height: 3rem;
}

.gl-name {
  display: flex;
  align-items: center;
  border: 1px black;
  grid-column: 2/ 12;
}

.gl-button1 {
  border: 1px black;
  grid-column: 2/ 7;
}

.gl-button2 {
  border: 1px black;
  grid-column: 7/ 12;
}

.splash {
  margin-top: 15%;
  margin-bottom: 1rem;
  grid-column: 2 / 12;
}
.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  flex-basis: 1;
}

.body-section {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px black;
  grid-column: 2 / 12;
}

.title {
  width: 100%;
}

.center {
  display: flex;
  margin: auto;
}

hr {
  border-style: solid;
  border-color: var(--brown-text);
  color: var(--brown-text);
}

.BigImage {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 50%;
}

.red-title {
  color: var(--burnt-red);
  font-weight: 700;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

h2 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

h3 {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

h4 {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

h5 {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

p {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  font-size: 1rem;
}
.justify {
  text-align: justify;
}

ul {
  padding-left: 1rem;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: grid;
  width: 100%;
  position: fixed;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--manila);
  border-bottom: 1px solid var(--brown-text);
  padding: 0.25rem;
}

.signUpButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--burnt-red);
  border: 2px solid var(--burnt-red);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  background-color: var(--manila);
  font-size: 1rem;
  margin: auto;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  display: block;
}
.signUpSection {
  text-align: center;
}

.signUpButton:hover {
  color: white;
  background-color: var(--burnt-red);
}

.centerText {
  margin: 1rem;
  text-align: center;
}

button {
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
button:focus {
  box-shadow: 0px 2px 2px;
  outline: none;
}
.header-nav {
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  grid-column: 6/12;
}

.header-nav a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-title {
  display: flex;
  align-items: center;
  grid-column: 2/12;
}

.header-icon {
  object-fit: contain;
  max-height: 1.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  display: inline;
  align-content: center;
  grid-column: 2/11;
}

@media (min-width: 576px) {
  .header-nav {
    display: flex;
    grid-column: 6/12;
  }

  .header-title {
    grid-column: 2/6;
  }

  .body-section {
    grid-column: 4/10;
  }
  .splash {
    grid-column: 4/10;
  }

  .gl-name {
    grid-column: 4/10;
  }
  .gl-item {
    grid-column: 2/4;
  }

  .gl-icon {
    grid-column: 3/ 3;
  }

  .gl-name {
    grid-column: 4/ 10;
  }

  .gl-button1 {
    grid-column: 11/ 11;
  }

  .gl-button2 {
    grid-column: 12/ 12;
  }
  #address {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  #aboutcontact {
    grid-column-start: 7;
    grid-column-end: 10;
  }
}
